motor
aiohttp
python-telegram-bot
pymongo 
pyrate-limiter
apscheduler
pyrogram
python-dotenv
cachetools
requests
bs4
aiogram
ffmpeg-python
pillow
telegraph
pyttsx3
psutil
nekos.py
tgcrypto 
aiofiles
typing
pymongo
